    - name: Ensure required directories exist
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: directory
        mode: "{{ item.mode }}"
      loop:
        - { path: "{{ base_dir }}",      mode: "0755" }
        - { path: "{{ work_dir }}",      mode: "0755" }
        - { path: "{{ goflow_logs_dir }}", mode: "0777" }
        - { path: "{{ repo_dest | dirname }}",      mode: "0755" }



    - name: Check if setup.sh already exists on the host
      ansible.builtin.stat:
        path: "{{ setup_sh_dest }}"
      register: existing_setup
 
 
 
    - name: Clone/Update Spectorious repository
      ansible.builtin.git:
        repo: "{{ repo_url }}"
        dest: "{{ repo_dest }}"
        version: "{{ branch | default(Spectorious_branch) }}"
        accept_hostkey: yes
        update: yes
        key_file: "/home/itay/.ssh/id_ed25519"
      when: not existing_setup.stat.exists




    - name: Copy setup.sh into work dir
      ansible.builtin.copy:
        src: "{{ setup_sh_dest }}"
        dest: "{{ work_dir }}/setup.sh"
        remote_src: true
        mode: "0755"



    - name: Execute setup.sh script
      shell : ./setup.sh "{{ clickhouse_server }}" "{{ clickhouse_password }}" "{{ mongodb_server }}" "{{ mongodb_password }}" "{{ mpop_mongodb_server }}" "{{ mpop_mongodb_password }}" 
      args:
        chdir: "{{ work_dir }}"
      register: script_output

    - name: Display script output
      debug:
        msg: "{{ script_output.stdout_lines }}"
